{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
</head>

<body>
    <div class="container">
        <!-- Sign Up Form -->
        <div class="form form-signup">
            <div class="imgBox">
                <img src="{% static 'images/istockphoto-1047558940-612x612.jpg' %}" alt="Signup Image">
            </div>
            <div class="formBox">
                <form id="signupForm" action="{% url 'predictor:signup' %}" method="post">
                    {% csrf_token %}
                    <h2>Create Account</h2>
                    <div class="input-group">
                        <input type="text" placeholder="Username" required name="user_name">
                    </div>
                    <div class="input-group">
                        <input type="email" placeholder="Email" required name="email">
                    </div>
                    <div class="input-group">
                        <input type="password" placeholder="Password" required name="password">
                    </div>
                    <div class="input-group">
                        <input type="password" placeholder="Confirm Password" required name="retype_password">
                    </div>
                    <div class="input-group">
                        <input type="submit" value="Sign Up">

                    </div>
                    <div class="switch-form">
                        <a href="{% url 'predictor:login' %}" class="switch-btn" onclick="navigate(event, 'login.html', 'right')">Already
                            have an account? Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        
    </script>
</body>
<script src="{% static 'script/login_register.js' %}"></script>
</html>