{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
</head>

<body>
    <div class="container">
        <!-- Sign In Form -->
        <div class="form form-signin">
            <div class="imgBox">
                <img src="istockphoto-1047558940-612x612.jpg" alt="Login Image">
            </div>
            <div class="formBox">
                <form id="signinForm" action="{% url 'predictor:login' %}" method="post" >
                    {% csrf_token %}
                    <h2>Login</h2>
                    <div class="input-group">
                        <input type="text" placeholder="Username" required name="user_name">
                    </div>
                    <div class="input-group">
                        <input type="password" placeholder="Password" required name="password">
                    </div>
                    <div class="input-group">
                        <input type="submit" value="Login">
                    </div>
                    <div class="switch-form">
                        <a href="{% url 'predictor:signup' %}" class="switch-btn" onclick="navigate(event, 'signup.html', 'left')">Don't
                            have an account? Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
       
    </script>
</body>
<script src="{% static 'script/login_register.js' %}"></script>

</html>